{
  "extends": [
    "@antfu"
  ],
  "overrides": [
    {
      "files": ["*.js", "*.mjs", "*.cjs"],
      "extends": [
        "plugin:jsdoc/recommended"
      ]
    },
    {
      "files": ["*.ts", "*.mts", "*.cts", "*.d.ts", "*.tsx"],
      "parserOptions": {
        "project": "./tsconfig.json"
      }
    }
  ]
}
